// Variable Margins
.m0 {
  margin: 0px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mt1 {
  margin-top: 1px !important;
}
.mt2 {
  margin-top: 2px !important;
}
.mt4 {
  margin-top: 4px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt6 {
  margin-top: 6px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mt10 {
  margin-top: 10px;
}
.mt12 {
  margin-top: 12px;
}
.mt15 {
  margin-top: 15px;
}
.mt16 {
  margin-top: 16px;
}
.mt20 {
  margin-top: 20px;
}
.mt24 {
  margin-top: 24px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px !important;
}
.mt60 {
  margin-top: 60px;
}
.mt72 {
  margin-top: 72px;
}
.mt75 {
  margin-top: 75px;
}
.mt100 {
  margin-top: 100px;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb2 {
  margin-bottom: 2px !important;
}
.mb4 {
  margin-bottom: 4px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb6 {
  margin-bottom: 6px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.mb16 {
  margin-bottom: 16px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb100 {
  margin-bottom: 100px;
}
.mb160 {
  margin-bottom: 160px;
}
.mtb10 {
  margin: 10px 0;
}
.ml0 {
  margin-left: 0px !important;
}
.ml4 {
  margin-left: 4px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr2 {
  margin-right: 2px !important;
}
.mr4 {
  margin-right: 4px !important;
}
.mr6 {
  margin-right: 6px !important;
}
.mr8 {
  margin-right: 8px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr12 {
  margin-right: 12px !important;
}
.mr16 {
  margin-right: 16px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr24 {
  margin-right: 24px !important;
}
.my-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.my-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.mt-27 {margin-top: 27px !important};
.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mx-10{
  margin-left: 10px;
  margin-right: 10px;
}
.mx-20{
  margin-left: 20px;
  margin-right: 20px;
}
// Variable Paddings
.p0 {
  padding: 0px !important;
}
.p0-5 {
  padding: 0.5px !important;
}
.p1 {
  padding: 1px !important;
}
.p2 {
  padding: 2px !important;
}
.p5 {
  padding: 5px !important;
}
.p10 {
  padding: 10px !important;
}
.p15 {
  padding: 15px;
}
.p16 {
  padding: 16px;
}
.p20 {
  padding: 20px;
}
.p24 {
  padding: 24px;
}
.p25 {
  padding: 25px;
}
.p32 {
  padding: 32px !important;
}
.p40 {
  padding: 40px;
}
.p48 {
  padding: 48px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb100 {
  padding-bottom: 100px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb24 {
  padding-bottom: 24px;
}
.pl0 {
  padding-left: 0px !important;
}
.pl4 {
  padding-left: 4px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pr4 {
  padding-right: 4px !important;
}
.pr8 {
  padding-right: 8px !important;
}
.p-5-10 {
  padding: 5px 10px !important;
}
.p-8-16 {
  padding: 8px 16px !important;
}
.p-8-24 {
  padding: 8px 24px !important;
}
.p-12-24 {
  padding: 12px 24px !important;
}
.p-8-12 {
  padding: 8px 12px !important;
}
.pt10 {
  padding-top: 10px;
}
.pt12 {
  padding-top: 12px;
}
.pt16 {
  padding-top: 16px;
}
.pt64 {
  padding-top: 64px;
}
.pt72 {
  padding-top: 72px;
}
.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ptb100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pl10 {
  padding-left: 10px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pl70 {
  padding-left: 70px;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.px-48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.px-64 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.pt-0, .pt0 {
  padding-top: 0px;
}
.pt-4 {
  padding-top: 4px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-12 {
  padding-top: 12px;
}
.pb-2 {
  padding-bottom: 2px;
}
.pb-4 {
  padding-bottom: 4px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pr16 {
  padding-right: 16px;
}
.pr24 {
  padding-right: 24px;
}
.flexGrow {
  flex-grow: 1;
}

.full-height {
  height: 100vh;
  overflow-y: auto;
}
// Width and height
.w-12 {
  width: 12px !important;
}
.w-14 {
  width: 14px !important;
}
.w-15 {
  width: 15px !important;
}
.w-16 {
  width: 16px !important;
}
.w-18 {
  width: 18px !important;
}
.w-20 {
  width: 20px !important;
}
.w-22 {
  width: 22px !important;
}
.w-24 {
  width: 24px !important;
}
.w-26 {
  width: 26px !important;
}
.w-28 {
  width: 28px !important;
}
.w-32 {
  width: 32px !important;
}
.w-36 {
  width: 36px !important;
}
.w-48 {
  width: 48px !important;
}

.h-12 {
  height: 12px !important;
}
.h-14 {
  height: 14px !important;
}
.h-15 {
  height: 15px !important;
}
.h-16 {
  height: 16px !important;
}
.h-18 {
  height: 18px !important;
}
.h-20 {
  height: 20px !important;
}
.h-22 {
  height: 22px !important;
}
.h-24 {
  height: 24px !important;
}
.h-26 {
  height: 26px !important;
}
.h-28 {
  height: 28px !important;
}
.h-32 {
  height: 32px !important;
}
.h-36 {
  height: 36px !important;
}
.h-48 {
  height: 48px !important;
}

.nav-wrapper {
  background-color: white !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-wrapper {
  ul{
    li {
      &.active {
        background-color: #ff0000 !important;
        color: #fff;
      }
    }
  }
}
.flex-row {
  display: flex !important;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row-mobile-col {
  display: flex;
  flex-direction: row;
}
.flex-a-fs {
  align-items: flex-start;
}
.flex-a-fs {
  align-items: flex-start;
}
.flex-a-c {
  align-items: center;
}
.flex-a-fe {
  align-items: flex-end;
}
.flex-j-fs {
  justify-content: flex-start;
}
.flex-j-fe {
  justify-content: flex-end;
}
.flex-j-c {
  justify-content: center;
}
.flex-j-sb {
  justify-content: space-between;
}
.flex-j-sa {
  justify-content: space-around;
}
.flexgrow {
  flex-grow: 1;
}
.flex-1 {
  flex: 1;
}
.flex-auto {
  flex: auto;
}

// Custom font sizes
.font9 {
  font-size: 9px !important;
}
.font10 {
  font-size: 10px !important;
}
.font12 {
  font-size: 12px !important;
}
.font13 {
  font-size: 13px !important;
}
.font14 {
  font-size: 14px !important;
}
.font15 {
  font-size: 15px !important;
}
.font16 {
  font-size: 16px !important;
}
.font17 {
  font-size: 17px !important;
}
.font18 {
  font-size: 18px !important;
}
.font20 {
  font-size: 20px !important;
}
.font24 {
  font-size: 24px !important;
}
.font30 {
  font-size: 30px !important;
}
.font35 {
  font-size: 35px !important;
}
.font0-80 {
  font-size: 0.80rem !important;
}
.font0-85 {
  font-size: 0.85rem !important;
}
.font0-9, .font0-90 {
  font-size: 0.9rem !important;
}
.font1-0 {
  font-size: 1.0rem !important;
}
.font1-2 {
  font-size: 1.2rem !important;
}
.font1-4 {
  font-size: 1.4rem !important;
}
.font1-6 {
  font-size: 1.6rem !important;
}
.font1-8 {
  font-size: 1.8rem !important;
}
.font2-0 {
  font-size: 2.0rem !important;
}
.font2-4 {
  font-size: 2.4rem !important;
}
.fontw300 {
  font-weight: 300 !important;
}
.fontw400 {
  font-weight: 400 !important;
}
.fontw500 {
  font-weight: 500 !important;
}
.fontw600 {
  font-weight: 600 !important;
}
.fontw700 {
  font-weight: 700 !important;
}

.text-muted {
  color: #6C6C89;
}
.text-light-green {
  color: #4caf50;
}
.text-light-green.darken-1 {
  color: #28bd66;
}
.bold-text {
  font-weight: bold;
}
.text-less-white {
  color: rgba(255, 255, 255, 0.7);
}
.text-dark {
  color: #212121;
}
.text-less-dark {
  color: #3C4043;
}
.text-lesser-dark {
  color: #5F6368;
}

.card-style-1 {
  text-transform: none;
  // width: 300px;
  min-height: 200px;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: visible;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(45, 67, 200, 0.192); /* Adjust the shadow color here */
}

.gray-background {
  background-color: #f0f0f0;
}
.white-background {
  background-color: #ffffff;
}
.bb1{
  border-bottom: 1px solid #c6c6cc;
}
.bordered{
  border: 1px solid #c6c6cc;
}

.blue-darken-1 {
  background-color: #1f0edb;
}
.blue-darken-2 {
  background-color: #3d2fcf;
}
.blue-lighten-1 {
  background-color: #5A4FCF;
}
.blue-lighten-2 {
  background-color: #7871c4;
}
.blue-lighten-3 {
  background-color: #e7ecfc;
}

.rounded-border-5 {
  border-radius: 5px;
}

.on-hover-zoom {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Adjust color as needed */
  margin-bottom: 20px; /* Adjust spacing as needed */
}

/* Styles for Glassmorphism */
.glass-nav {
  backdrop-filter: blur(3px) saturate(159%);
  -webkit-backdrop-filter: blur(3px) saturate(159%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: none;
}
.glass-nav .brand-logo img {
  max-height: 40px; /* Adjust the height of the logo */
  // margin-top: 5px; /* Adjust vertical alignment */
}

.glass-nav ul {
  list-style: none; /* Remove default list styling */
  display: flex;
  margin: 0;
  padding: 0;
}

// .glass-nav ul li {
//   margin: 0 10px; /* Space between items */
// }

.glass-nav ul li a {
  position: relative;
  font-family: Tahoma, Verdana, sans-serif;
  color: #657ce7; /* White text color */
  font-weight: 600; /* Medium font weight */
  text-decoration: none; /* Remove underline */
  // padding: 10px 15px; /* Padding for links */
  border-radius: 5px; /* Rounded corners for links */
  transition: background 0.3s, color 0.3s; /* Smooth transitions */
}

.glass-nav ul li a:hover {
  background: rgba(255, 255, 255, 0.1); /* Light background on hover */
  color: #000f66; /* Darker text color on hover */
}

.glass-nav ul li.mr20 a {
  margin-right: 20px; /* Specific margin for these items */
}

.glass-nav ul li  a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2f81f7;
  border-radius: 5px;
  opacity: 0;
}

.glass-nav ul li  a::before,
.glass-nav ul li  a::active::before {
  opacity: 1;
}





@media (max-width: 992px) {
  .glass-nav ul {
    display: none; /* Hide the navigation items on smaller screens */
  }
}

/* Customize the .btn-primary-1 button */
.btn.btn-primary-1 {
  margin: 0px;
  font-family: sans-serif;
  background-color: #657ce7; /* Primary background color */
  color: #fff; /* Text color */
  border: none; /* Remove default border */
  font-size: 14px; /* Font size */
  font-weight: 600; /* Font weight */
  text-transform: none; /* Uppercase text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

/* Hover and focus states */
.btn.btn-primary-1:hover,
.btn.btn-primary-1:focus {
  background-color: #4561e0; /* Darker background color on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
  outline: none; /* Remove focus outline */
}

/* Active state */
.btn.btn-primary-1:active {
  background-color: #2471a3; /* Even darker background color on active */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Smaller shadow */
  transform: translateY(2px); /* Slightly move the button down */
}

/* Icon positioning */
.btn.btn-primary-1 .material-icons.right {
  margin-left: 8px; /* Space between text and icon */
  font-size: 18px; /* Icon size */
  vertical-align: middle; /* Align icon with text */
}

.btn.btn-primary-1.green {
  background-color: #4caf50 !important;
  color: #fff; /* Ensure text color remains white */
}


.btn.btn-primary-2 {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  margin: 0px;
  font-family: sans-serif;
  background-color: #4caf50 !important; /* Primary background color */
  color: #fff; /* Text color */
  border: none; /* Remove default border */
  font-size: 12px; /* Font size */
  font-weight: 600; /* Font weight */
  text-transform: none; /* Uppercase text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

/* Hover and focus states */
.btn.btn-primary-2:hover,
.btn.btn-primary-2:focus {
  background-color: #4caf50; /* Darker background color on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
  outline: none; /* Remove focus outline */
}

/* Active state */
.btn.btn-primary-2:active {
  background-color: #4caf50; /* Even darker background color on active */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Smaller shadow */
  transform: translateY(2px); /* Slightly move the button down */
}

/* Icon positioning */
.btn.btn-primary-2 .material-icons.right {
  margin-left: 8px; /* Space between text and icon */
  font-size: 18px; /* Icon size */
  vertical-align: middle; /* Align icon with text */
}

#home {
  width: 100%;
  height: 90vh;
  background-image: url('assets/bg-7.svg');
  background-size: contain; /* Ensures the entire image is visible */
  background-position: right; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  position: relative; /* Optional, if you need to position other elements within */
  align-items: center;
  display: flex;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  #home {
      height: 80vh;
  }
}

@media (max-width: 992px) {
  #home {
      height: 50vh;
  }
}

@media (max-width: 768px) {
  #home {
      height: 30vh;
  }
  .content-row{
    margin-top: 100px;
  }
}

@media (max-width: 576px) {
  #home {
      height: 20vh;
      display: none;
  }
  .content-row{
    margin-top: 100px;
  }
}


.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 13px;
  padding: 2px 2px;
  width: 100px;
  color: white;
  background: #4caf50;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-left: 2px;
  margin-right: 5px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

#home {
  width: 100%;
  height: 90vh;
  background-image: url('assets/bg-7.svg');
  background-size: contain; /* Ensures the entire image is visible */
  background-position: right; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  position: relative; /* Optional, if you need to position other elements within */
  align-items: center;
  display: flex;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  #home {
    height: 80vh;
  }
}

@media (max-width: 992px) {
  #home {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  #home {
    height: 30vh;
  }
  .content-row {
    margin-top: 100px;
  }
}

@media (max-width: 576px) {
  #home {
    display: flex;
    height: auto;
    display: block;
    background-size: cover;
    background-position: top right;
  }
  .content-row {
    margin-top: 0; /* Remove top margin */
  }
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Justify content to the top */
  }
  .blue-dark.text-contents {
    margin-top: 20px; /* Add some margin to the top for spacing */
  }
}

.blue-dark{
  color: #657ce7;
}
.blue-darken{
  color: #3857e0;
}
.bg-light-blue{
  background-color: #bac6f2;
}
.ml5 {
  margin-left: 5px;
}
a {
  text-decoration: none;
  color: white;
}


.btn.small.green {
  background-color: #4CAF50; /* Green background color */
  color: #fff; /* White text color */
  text-align: center; /* Center-align text */
  border-radius: 4px; /* Rounded corners */
  text-decoration: none; /* Remove underline from links */
  height: 30px;
  width: 120px;

  transition: background-color 0.3s; /* Smooth background color transition */
}

.btn.small.green:hover {
  background-color: #45a049; /* Darker green on hover */
}

.btn.small.green .material-icons {
  vertical-align: middle; /* Align icon vertically centered with text */
  margin-left: 5px; /* Add space between text and icon */
}

.btn.small.green .white-text {
  margin-right: 5px; /* Add space between icon and text */
}

.custom-badge {
  padding: 2px 6px;
  display: inline-block;
  margin: 5px 0;
  font-size: 12px;
  color: white;
  border-radius: 3px;
}